*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
#header{
    height: 100vh;
    padding: 50px 0px;
}

.header-content{
    margin: 0% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left{
    float: left;
    width: 50%;
}

.header-left h1 {
    color: #575757;
    font-weight: 600;
    font-size: 50px;
    font-style: normal;
    width: 100%;
    line-height: 125%;
}

.header-left h1 span {
    color: #F39248;
}
.header-left p{

    margin: 30px 0px 40px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #828282;
    line-height: 140%;
    letter-spacing: -0.02em;
}

.btn{
    padding: 12px 28px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.header-right {
    float: left;
    overflow: hidden;
    width: 50%;
}

.header-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about{
    background-image: url('images/about-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-content{
    margin: 0% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-left {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
}

.about-left img {
    width: 60%;
    align-items: flex-end;
}

.about-right {
    width: 50%;

}

.about-right h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 54px;
    color: #707070;
}

.about-right p {
    margin: 20px 0px 70px 0px;
    color: #18191F;
}